.TodoItemContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.TodoItem {
    width: 70%;
    background-color: #FAFAFA;
    margin-top: 26px;
    padding-bottom: 1.5%;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15)
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    word-spacing: .5px;
    word-wrap: break-word;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icons-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    padding-top: 1%;
    padding-left: 1.7%;
}

.Icon-svg {
    width: 26px;
    height: 26px;
}

.Icon-container-delete:hover .Icon-svg {
    fill: red;
    cursor: pointer;
}

.Icon-container-check:hover .Icon-svg {
    fill: green;
    cursor: pointer;
}
    